<mat-card class="blur-bg text-white">
  <div class="container">
  <mat-card-header>
    <h1>Update Quiz</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label class="text-white">Title</mat-label>
      <input class="text-white" matInput placeholder="Enter title of Category" name="title" [(ngModel)]="quiz.title" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label class="text-white">Description</mat-label>
      <textarea class="text-white" matInput placeholder="Category Description" name="discription" [(ngModel)]="quiz.description" required>
            </textarea>
    </mat-form-field>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label class="text-white">Max Marks</mat-label>
          <input class="text-white" matInput type="number" placeholder="Max Marks" name="maxMarks" [(ngModel)]="quiz.maxMarks" required>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label class="text-white">Number of Questions</mat-label>
          <input class="text-white" matInput type="number" placeholder="Number of Questions" name="numberOfQuestions"
            [(ngModel)]="quiz.numberOfQuestions" required>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label class="text-white">Select Category</mat-label>
      <mat-select class="text-white" [(ngModel)]="quizCategory.cid">
        @for (c of categories; track c) {
        <mat-option [value]="c.cid">{{c.title}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle [(ngModel)]="quiz.active" class="ms-3"><span class="text-white">Publish</span></mat-slide-toggle>
  </mat-card-content>
  <mat-card-actions>
    <div class="text-center w-100">
      <button class="mt-3" mat-raised-button color="primary" (click)="updateQuiz(quiz)">Update Quiz</button>
    </div>
  </mat-card-actions>
  </div>
</mat-card>
