.example-container {
  width: auto;
  min-height: 100vh;
  margin: 10px;
  /* border: 1px solid #555; */
  /* The background property is added to clearly distinguish the borders between drawer and main
       content */
  background: transparent;
}
.w-15{
   width: 15%;
}
.side{
  background: rgba(185, 192, 204, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
