<div *ngIf="quizzes && quizzes.length; else noQuizzess">
  <mat-card appearance="raised" *ngFor="let c of quizzes" class="mb-2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{c.title}}</mat-card-title>
      <mat-card-subtitle>{{c.category.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{c.description}}</p>
      <button disabled class="me-2" mat-flat-button color="accent">Max Marks: {{c.maxMarks}}</button>
      <button disabled class="me-2" mat-flat-button color="accent">Number of Questions: {{c.numberOfQuestions}}</button>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [routerLink]="'/user-dashboard/start-exam/'+c.qid+'/'+c.title">
        Attempt Quiz
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #noQuizzess>
  <mat-card appearance="outlined" class="mb-1">
    <mat-card-content>
      <h1>No Quizzess found.</h1>
    </mat-card-content>
  </mat-card>
</ng-template>
