<mat-card class="mb-2">
    <mat-card-header>
        <h1>All attempts for <b>{{title}}</b></h1>
    </mat-card-header>
</mat-card>
<ng-container *ngIf="quizAttempts && quizAttempts.length > 0; else noAttempts">
  <ng-container *ngFor="let qr of quizAttempts">
    <mat-card class="mb-1">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Username: {{qr.username}}</mat-card-title>
        <mat-card-subtitle>Submission Time & Date: {{qr.submittedAt | date:'short'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button class="me-2" mat-stroked-button color="primary">M.M. {{qr.maxMarks}}</button>
        <button class="me-2" mat-stroked-button color="primary">Marks obtained: {{(qr.score * 100) / qr.maxMarks | number:'1.0-2'}}%</button>
        <button class="me-2" mat-stroked-button color="primary">Questions attempted: {{qr.attempted}}</button>
        <button class="me-2" mat-stroked-button color="primary">No. of correct answers: {{qr.correct}}</button>
        <button class="me-2" mat-stroked-button color="primary">No. of incorrect answers: {{qr.wrong}}</button>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-container>

<ng-template #noAttempts>
  <mat-card class="mb-2">
    <mat-card-header>
      <h1>No recent attempts found!</h1>
    </mat-card-header>
  </mat-card>
</ng-template>
